.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.firma {
  font-size: 1.7rem;
  font-weight: bold;
  margin-right: 0.8rem;
}
.modal {
  position: absolute;
  inset: 0;
  background-color: var(--black-50);
  z-index: 999;
}

.ham {
  position: relative;
  width: 1.2rem;
  height: 0.6rem;
  margin-right: 0.4rem;
  z-index: 9999;
}
.ham::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--accent-color);
  border-radius: 2rem;
  transform: translateX(50%);
  transition: transform 450ms ease-in-out;
}
.ham::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: black;
  border-radius: 2rem;
  transition: transform 450ms ease-in-out;
}
.active.ham::before {
  transform: translateX(0);
}
.active.ham::after {
  transform: translateX(50%);
}

.nav {
  position: absolute;
  font-size: 1.1rem;
  top: 7vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid var(--accent-color-30);
  border-radius: 0.5rem;
  width: 94vw;
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
  transition: opacity 450ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}
.nav::before {
  content: "a.s.i.";
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.li {
  position: relative;
  margin-bottom: 1.5rem;
}
/* .li::after {
  position: absolute;
  content: "";
  transition: all 450ms ease-in-out;
} */
.li:hover::after,
.li:focus::after,
.li:active::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 25vw;
  right: 25vw;
  height: 2px;
  background-color: var(--accent-color-50);
}

@media (min-width: 768px) {
  .header {
    padding: 1rem;
  }
  .ham {
    display: none;
  }
  .nav {
    opacity: 1;

    position: initial;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    border: none;
    border-radius: none;
    text-align: initial;
    padding: 0;
    padding-top: 0;
    background-color: initial;
  }
  .nav::before {
    display: none;
  }
  .ul {
    display: flex;
    justify-content: space-around;
  }
  .li {
    margin-bottom: 0;
  }
}
