.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white-90);
}
.modal {
  position: fixed;
  inset: 0;
  background-color: var(--black-50);
}

.header {
  display: flex;
  margin-bottom: 2rem;
}
.closeBTN {
  transform: scale(3.3);
  margin-left: auto;
  cursor: pointer;
}
.text,
.text2 {
  font-size: 1.1rem;
}
.text {
  margin-bottom: 1rem;
}
