.aboutus {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2rem 0;
}
.header {
  margin: 2rem 0;
}

.img {
  margin: 0 auto;
  border-radius: 0.5rem;
  max-width: 94vw;
  margin-bottom: 2rem;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}
.flex_wrap article:nth-child(1),
.flex_wrap article:nth-child(3) {
  margin-right: 1rem;
}
