.aboutus {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}
.header {
  margin: 4rem 0;
}

.img {
  margin: 0 auto;
  border-radius: 0.5rem;
  max-width: 94vw;
  margin-bottom: 5rem;
}

.svg_cards {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
}
