.aboutus {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
  padding: 2rem;
}

.resp_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.header {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.heading {
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 2px solid var(--accent-color);
}
.additional_content {
}

.img {
  margin: 0 auto;
  border-radius: 0.5rem;
  max-width: 94vw;
  margin-bottom: 5rem;
}

.svg_cards {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 1035px) {
  .heading {
    margin-bottom: 1rem;
  }
}
