.mywork {
  margin-bottom: 6rem;
}

.header {
  margin: 3rem auto;
  text-align: center;
  max-width: 500px;
  padding: 3rem;
}
.title {
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 2px solid var(--accent-color);
}

.mywork_con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
