.card {
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 94vw;
  max-width: 500px;
  margin-bottom: 2rem;
}

.svg {
  color: var(--accent-color);
  margin-bottom: 1rem;
}
.svg svg {
  transform: scale(2.5);
}
.subheading {
  margin-bottom: 1rem;
}
.text {
  line-height: 1.3;
}
