.footer {
  padding: 2rem 1rem;
  /* border-top: 2px solid var(--accent-color); */
  /* border-top-left-radius: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 3rem;
  position: relative;
}
.footer::after {
  position: absolute;
  content: "";
  top: 0;
  height: 2px;
  width: 100vw;
  background-color: var(--accent-color);
}

.isatech {
  font-weight: bold;
  text-decoration: underline;
  color: var(--accent-color);
}
