@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,700&display=swap");

:root {
  --accent-color: rgba(149, 1, 1, 1);
  --accent-color-70: rgba(149, 1, 1, 0.7);
  --accent-color-50: rgba(149, 1, 1, 0.5);
  --accent-color-30: rgba(149, 1, 1, 0.3);
  /* --accent-color: rgba(20, 39, 78, 1);
  --accent-color-70: rgba(20, 39, 78, 0.7);
  --accent-color-50: rgba(20, 39, 78, 0.5);
  --accent-color-30: rgba(20, 39, 78, 0.3); */
  /* --accent-color: #de7833;
  --accent-color-70: rgba(222, 120, 51, 0.7);
  --accent-color-50: rgba(222, 120, 51, 0.5);
  --accent-color-30: rgba(222, 120, 51, 0.3); */
  /* --accent-color: #ccdbd1;
  --accent-color-70: rgba(204, 219, 209, 0.7);
  --accent-color-50: rgba(204, 219, 209, 0.5);
  --accent-color-30: rgba(204, 219, 209, 0.3); */
  --white: rgb(255, 255, 255);
  --white-90: rgb(255, 255, 255, 0.9);
  --white-50: rgb(255, 255, 255, 0.5);
  --white-30: rgba(255, 255, 255, 0.3);
  --black: rgb(0, 0, 0);
  --black-80: rgb(0, 0, 0, 0.8);
  --black-70: rgb(0, 0, 0, 0.7);
  --black-50: rgb(0, 0, 0, 0.5);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  max-width: 100%;
}
svg {
  cursor: pointer;
  transform: scale(1.6);
}

/* utils */
@media (min-width: 770px) {
  .none {
    display: none;
  }
}
.transparent {
  opacity: 0;
  transform: translateY(-100vh);
}
.scale12 {
  transform: scale(1.2);
}
