:root {
  --accent-color: #de7833;
  --accent-color-50: rgba(222, 120, 51, 0.5);
  --accent-color-30: rgba(222, 120, 51, 0.3);
  --white: rgb(255, 255, 255);
  --white-30: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* utils */
.none {
  display: none;
}
.transparent {
  opacity: 0;
}
