.contact {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-align: center;
}
.title {
  margin-bottom: 1rem;
}
.subtitle {
  color: var(--black-50);
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
}
.contact_information {
  width: 100%;
  align-self: stretch;
  padding: 1rem;
  background-color: var(--accent-color);
  color: var(--white);
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.contact_info_title {
  margin-bottom: 3rem;
}
.contact_info_con {
  margin-bottom: 3rem;
}
.contact_info {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.icon {
  margin-right: 1rem;
}
.social_media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.social_media svg {
  transform: scale(2);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col_two {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
  color: var(--black-80);
}
.input {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border: none;
  border-bottom: 2px solid var(--accent-color-30);
}

.input:focus,
.input:active,
.input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.textarea {
  resize: none;
}

.btn {
  /* margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto; */
  margin: 3rem auto;
  border: none;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
.btn:hover,
.btn:focus,
.btn:active {
  border: 2px solid var(--accent-color);
  background-color: initial;
  color: var(--accent-color);
}
.col {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
@media (min-width: 1037px) {
  .contact_form {
    margin-top: 3rem;
    flex-direction: row;
  }
  .contact_information {
    margin-right: 4rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .col_two {
    flex-direction: row;
  }
  .btn {
    margin-bottom: 0;
  }
}
